version: 2.1
orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  build:
    jobs:
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: "push-to-default-app-catalog"
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "irsa-servicemonitors"
          filters:
            branches:
              ignore:
                - main
                - master
            tags:
              only: /^v.*/